@model GestionReservation.Data.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodeReservation" class="control-label"></label>
                <input asp-for="CodeReservation" class="form-control" />
                <span asp-validation-for="CodeReservation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdClient" class="control-label"></label>
                <select asp-for="IdClient" class="form-control" asp-items="@(new SelectList(ViewBag.Clients, "IdClient", "NomComplet"))">
                    <option value="">-- Choisir Client -- </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdVol" class="control-label"></label>
                <select asp-for="IdVol" class="form-control" asp-items="@(new SelectList(ViewBag.Vols, "IdVol", "NumeroVol"))">
                    <option value="">-- Choisir Vol -- </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdCompagnie" class="control-label"></label>
                <select asp-for="IdCompagnie" class="form-control" asp-items="@(new SelectList(ViewBag.Compagnies, "IdCompagnie", "Nom"))">
                    <option value="">-- Choisir Compagnie -- </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DateReservation" class="control-label"></label>
                <input asp-for="DateReservation" class="form-control" />
                <span asp-validation-for="DateReservation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statut" class="control-label"></label>
                <input asp-for="Statut" class="form-control" />
                <span asp-validation-for="Statut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
